/* header css */
header {
  width: 100%;
  height: 80px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

}

.logo-pic {
  width: 13%;
}



.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}
.nav-bar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: black;
  background: rgb(255, 204, 0);
  opacity: 0.8;
}

.nav-bar ul li a.active {
  color: black;
  background: rgb(255, 204, 0);
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }

}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }

}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }

  .nav-bar {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: black;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
  }
  .nav-bar.active {
    height: 450px;
    z-index: 1;
  }
  
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;

  }

}


.title {
  font-size: 25px;
  color: black;
  text-align: center;
  letter-spacing: 2px;
  background: rgb(255, 204, 0);
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  font-weight: bolder;

}

.magazine-cover {
  height: 530px;
  width: 400px;
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.magazine {
  position: absolute;
  color: rgb(255, 204, 0);
  letter-spacing: 3px;
  font-size: 17px;
  font-weight: bolder;
  top: 4%;
  left: 37%;
  
}

.magazine-title{
  position: absolute;
  color: white;
  top: 10%;
  left: 10%;
  font-size: 25px;
  font-weight: bold;

}
.read-more-button {
  position: absolute;
  top: 90%;
  left: 39%;
  padding: 12px;
  border: none;
  background-color: rgb(255, 204, 0);
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
}
.read-more-button:hover {
  background-color: white;
  transition: background-color 0.9ms;
  
}


.carousel {
  overflow: hidden;
  max-width: 400px;
  position: relative;

}
.carousel {
  left: 36%;
  margin-top: 50px;
}

.carousel .carousel-item,
.carousel .carousel-item--hidden {
  display: none;
}


.carousel .carousel-item--visible{
  display: block;
}

.carousel .carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel-actions button {
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  height: 20px;
  width: 15ox;  
}
.carousel-actions button:hover {
  background-color: gray;
  transition: 0.10s;
}
.carousel .carousel-actions button#carousel_button--prev {
  margin-left: 10px;
}

.carousel .carousel-actions button#carousel_button--next {
  margin-right: 10px;
}


.pic-container {
  margin-top: 7px;
}

.footer-background-pic {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-top: 70px;
  position: relative;
}

.footer-text {
  position: absolute;
  color: white;
  top: 105%;
  font-size: 20px;
  left: 35%;

}

.sign-up {
  position: absolute;
  background-color:rgb(255, 204, 0);
  top: 115%;
  left: 40%;
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 80px;
  padding-right: 80px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.sign-up:hover {
  background-color: white;
  transition: 0.10s;
  cursor: pointer;
}


@media(max-width: 700px){
  .carousel{
    left: 9%;
  }
  .read-more-button{
    left: 37%;
  }
  .footer-text{
    left: 10%;
  }
  .sign-up{
    left: 23%;
  }
}

@media (max-width: 390px){
  .carousel {
    left: 0%;
  }
  .read-more-button {
    left: 38%;
  }

  .footer-text{
    left: 5%;
    top: 99%;
  }

  .sign-up{
    top: 112%;
    left: 18%;
  }
}
